1,2.Import pyspark

In [51]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("PySparkass").getOrCreate()

24/09/26 17:19:02 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

3. Load the CSV file as a Spark RDD

In [42]:
df = spark.read.csv("/home/ai/Documents/Task_hotel/hotels.csv",header=True)
rdd1=df.rdd
print(type(rdd1))
df=rdd1.toDF()
df.show()

<class 'pyspark.rdd.RDD'>
+---------------+--------------+---------+----------------+----------+----------+--------+--------------------+--------------------+
|Holding company|  Headquarters|Locations|Year established|Properties|     Rooms|Category|      Managed brands|   Franchised brands|
+---------------+--------------+---------+----------------+----------+----------+--------+--------------------+--------------------+
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|  Luxury|             Raffles|Banyan Tree Hótel...|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|      Orient Express|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|              Delano|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|                 SO/|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|      Sofitel Legend|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|            Fairmont|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|                 SLS|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|             Sofitel|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|The House of Orig...|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|               Rixos|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|         onefinestay|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL| Premium|              Mantis|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|            MGallery|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|          Art Series|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|            Mondrian|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|             Pullman|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|           Swissôtel|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|             Angsana|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|            25 Hours|                NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|    NULL|                Hyde|                NULL|
+---------------+--------------+---------+----------------+----------+----------+--------+--------------------+--------------------+
only showing top 20 rows

4.1.1 creating first dataframe

In [43]:
df1 = df[["Holding company", "Headquarters", "Locations", "Year established", "Properties", "Rooms"]]
df1.show()

+---------------+--------------+---------+----------------+----------+----------+
|Holding company|  Headquarters|Locations|Year established|Properties|     Rooms|
+---------------+--------------+---------+----------------+----------+----------+
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
|           NULL|          NULL|     NULL|            NULL|      NULL|      NULL|
+---------------+--------------+---------+----------------+----------+----------+
only showing top 20 rows

4.1.2 dealing null values with forward fill

In [44]:
import pyspark.sql.functions as F
from pyspark.sql import Window
w_forward = Window.partitionBy().rowsBetween(Window.unboundedPreceding,Window.currentRow)
df1 = df1.select([F.last(df1[column], ignorenulls=True).over(w_forward).alias(column) for column in df1.columns])
df1.show()

24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+---------------+--------------+---------+----------------+----------+----------+
|Holding company|  Headquarters|Locations|Year established|Properties|     Rooms|
+---------------+--------------+---------+----------------+----------+----------+
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
|          Accor|Paris (France)|Worldwide|            1967|  5,300[4]|778,000[4]|
+---------------+--------------+---------+----------------+----------+----------+
only showing top 20 rows

4.1.3 only 1 row per "Holding company"

In [45]:
from pyspark.sql import functions as F
df_first = df1.groupBy("Holding company").agg(
     F.first("Headquarters").alias("Headquarters"),
     F.concat_ws(", ", F.collect_list("Locations")).alias("Locations"),
     F.first("Year established").alias("Year established"),
     F.concat_ws(", ", F.collect_list("Properties")).alias("Properties"),
     F.concat_ws(", ", F.collect_list("Rooms")).alias("Rooms")  # Adjust based on your requirement
)
defaults = {
    "Headquarters": "Unknown Headquarters",
    "Locations": "Unknown Locations",
    "Year established": "Unknown Year",
    "Properties": "Unknown Properties",
    "Rooms": "unknown" 
df_first = df_first.fillna(defaults)
df_first.show()

+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
|     Holding company|        Headquarters|           Locations|Year established|          Properties|               Rooms|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
|               Accor|      Paris (France)|Worldwide, Worldw...|            1967|5,300[4], 5,300[4...|778,000[4], 778,0...|
|        Aman Resorts|   Baar, Switzerland|     20 countries[5]|            1988|               34[5]|          778,000[4]|
|           APA Group|       Tokyo (Japan)|  Japan, USA, Canada|            1988|355[6], 355[6], 3...|53,168[6], 53,168...|
|Archipelago Inter...|Jakarta, (Indonesia)|           Worldwide|            1997|                 150|           53,168[6]|
|Ascott Limited (The)|           Singapore|Worldwide (27 cou...|            1984|800[7], 800[7], 8...|135,000[7], 135,0...|
|        Avari Hotels|  Karachi (Pakistan)|         3 countries|            1948|                5[8]|          135,000[7]|
|Banyan Tree Holdings|           Singapore|Worldwide (28 cou...|        1994[10]|47[9], 47[9], 47[...|135,000[7], 135,0...|
|            Barrière|      Paris (France)|Europe, Europe, E...|        1912[11]|18[11], 18[11], 1...|2,300[11], 2,300[...|
|     Belmond Limited|  Hamilton (Bermuda)|           Worldwide|        1976[12]|              41[13]|           2,300[11]|
| Best Western Hotels|       Phoenix (USA)|Worldwide, Worldw...|        1946[14]|4,700[15], 4,700[...|369,386[16], 369,...|
|BTG Homeinn hotel...|    Shanghai (China)|China, China, Chi...|        2002[17]|4,450[16], 4,450[...|414,952[16], 414,...|
|Centara Hotels & ...|  Bangkok (Thailand)|Asia, Middle East...|        1983[19]|77[20], 77[20], 7...|16,737[20], 16,73...|
| China Lodging Group|Shanghai, (China)...|           China[22]|        2007[23]|           5,953[24]|         575,488[24]|
| Huazhu Hotels Group|Shanghai, (China)...|China[22], China[...|        2007[23]|5,953[24], 5,953[...|575,488[24], 575,...|
|Choice Hotels Int...|     Rockville (USA)|Worldwide, Worldw...|        1939[25]|7,100[26], 7,100[...|600,000[26], 600,...|
|Cinnamon Hotels &...| Colombo (Sri Lanka)| Sri Lanka, Maldives|            2005|                  15|           2,556[27]|
| Compass Hospitality|  Bangkok (Thailand)|Thailand, Malaysi...|            2005|46[28], 46[28], 4...|4,600+[28], 4,600...|
|Dalata Hotel Grou...|    Dublin (Ireland)|Ireland, United K...|            2008|      41[30], 41[30]|8,952[30], 8,952[30]|
|Dorchester Collec...|London (United Ki...|France, Italy, UK...|            1981|9[32], 9[32], 9[3...|8,952[30], 8,952[...|
|        Drury Hotels|     St. Louis (USA)|USA, USA, USA, US...|            1973|150[33], 150[33],...|8,952[30], 8,952[...|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
only showing top 20 rows

24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:54 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

4.1.4 cleaning information about references

In [46]:
from pyspark.sql.functions import  split,trim,regexp_replace
grouped_df = df_first.select(
         "Holding company",
    regexp_replace("Headquarters", r'\[\d+\]', "").alias("Headquarters"),
          regexp_replace("Locations", r'\[\d+\]', "").alias("Locations"),
           regexp_replace("Year established", r'\[\d+\]', "").alias("Year established"),
          regexp_replace("Properties", r'\[\d+\]', "").alias("Properties"),
          regexp_replace("Rooms", r'\[\d+\]', "").alias("Rooms")
       )
grouped_df.show()

24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
|     Holding company|        Headquarters|           Locations|Year established|          Properties|               Rooms|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
|               Accor|      Paris (France)|Worldwide, Worldw...|            1967|5,300, 5,300, 5,3...|778,000, 778,000,...|
|        Aman Resorts|   Baar, Switzerland|        20 countries|            1988|                  34|             778,000|
|           APA Group|       Tokyo (Japan)|  Japan, USA, Canada|            1988|       355, 355, 355|53,168, 53,168, 5...|
|Archipelago Inter...|Jakarta, (Indonesia)|           Worldwide|            1997|                 150|              53,168|
|Ascott Limited (The)|           Singapore|Worldwide (27 cou...|            1984|800, 800, 800, 80...|135,000, 135,000,...|
|        Avari Hotels|  Karachi (Pakistan)|         3 countries|            1948|                   5|             135,000|
|Banyan Tree Holdings|           Singapore|Worldwide (28 cou...|            1994|      47, 47, 47, 47|135,000, 135,000,...|
|            Barrière|      Paris (France)|Europe, Europe, E...|            1912|      18, 18, 18, 18|2,300, 2,300, 2,3...|
|     Belmond Limited|  Hamilton (Bermuda)|           Worldwide|            1976|                  41|               2,300|
| Best Western Hotels|       Phoenix (USA)|Worldwide, Worldw...|            1946|4,700, 4,700, 4,7...|369,386, 369,386,...|
|BTG Homeinn hotel...|    Shanghai (China)|China, China, Chi...|            2002|4,450, 4,450, 4,4...|414,952, 414,952,...|
|Centara Hotels & ...|  Bangkok (Thailand)|Asia, Middle East...|            1983|77, 77, 77, 77, 7...|16,737, 16,737, 1...|
| China Lodging Group|   Shanghai, (China)|               China|            2007|               5,953|             575,488|
| Huazhu Hotels Group|   Shanghai, (China)|China, China, Chi...|            2007|5,953, 5,953, 5,9...|575,488, 575,488,...|
|Choice Hotels Int...|     Rockville (USA)|Worldwide, Worldw...|            1939|7,100, 7,100, 7,1...|600,000, 600,000,...|
|Cinnamon Hotels &...| Colombo (Sri Lanka)| Sri Lanka, Maldives|            2005|                  15|               2,556|
| Compass Hospitality|  Bangkok (Thailand)|Thailand, Malaysi...|            2005|      46, 46, 46, 46|4,600+, 4,600+, 4...|
|Dalata Hotel Grou...|    Dublin (Ireland)|Ireland, United K...|            2008|              41, 41|        8,952, 8,952|
|Dorchester Collec...|London (United Ki...|France, Italy, UK...|            1981|          9, 9, 9, 9|8,952, 8,952, 8,9...|
|        Drury Hotels|     St. Louis (USA)|USA, USA, USA, US...|            1973|150, 150, 150, 15...|8,952, 8,952, 8,9...|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+
only showing top 20 rows

4.1.5  create a new column associated "Headquarters country"

In [47]:
from pyspark.sql.functions import  split,trim,regexp_replace
grouped_df = grouped_df.withColumn("City", split("Headquarters", r'\(')[0])
grouped_df = grouped_df.withColumn("Country", regexp_replace(split("Headquarters", r'\(')[1], r'\)', ''))
grouped_df.show()

+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+-----------------+--------------+
|     Holding company|        Headquarters|           Locations|Year established|          Properties|               Rooms|             City|       Country|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+-----------------+--------------+
|               Accor|      Paris (France)|Worldwide, Worldw...|            1967|5,300, 5,300, 5,3...|778,000, 778,000,...|           Paris |        France|
|        Aman Resorts|   Baar, Switzerland|        20 countries|            1988|                  34|             778,000|Baar, Switzerland|          NULL|
|           APA Group|       Tokyo (Japan)|  Japan, USA, Canada|            1988|       355, 355, 355|53,168, 53,168, 5...|           Tokyo |         Japan|
|Archipelago Inter...|Jakarta, (Indonesia)|           Worldwide|            1997|                 150|              53,168|        Jakarta, |     Indonesia|
|Ascott Limited (The)|           Singapore|Worldwide (27 cou...|            1984|800, 800, 800, 80...|135,000, 135,000,...|        Singapore|          NULL|
|        Avari Hotels|  Karachi (Pakistan)|         3 countries|            1948|                   5|             135,000|         Karachi |      Pakistan|
|Banyan Tree Holdings|           Singapore|Worldwide (28 cou...|            1994|      47, 47, 47, 47|135,000, 135,000,...|        Singapore|          NULL|
|            Barrière|      Paris (France)|Europe, Europe, E...|            1912|      18, 18, 18, 18|2,300, 2,300, 2,3...|           Paris |        France|
|     Belmond Limited|  Hamilton (Bermuda)|           Worldwide|            1976|                  41|               2,300|        Hamilton |       Bermuda|
| Best Western Hotels|       Phoenix (USA)|Worldwide, Worldw...|            1946|4,700, 4,700, 4,7...|369,386, 369,386,...|         Phoenix |           USA|
|BTG Homeinn hotel...|    Shanghai (China)|China, China, Chi...|            2002|4,450, 4,450, 4,4...|414,952, 414,952,...|        Shanghai |         China|
|Centara Hotels & ...|  Bangkok (Thailand)|Asia, Middle East...|            1983|77, 77, 77, 77, 7...|16,737, 16,737, 1...|         Bangkok |      Thailand|
| China Lodging Group|   Shanghai, (China)|               China|            2007|               5,953|             575,488|       Shanghai, |         China|
| Huazhu Hotels Group|   Shanghai, (China)|China, China, Chi...|            2007|5,953, 5,953, 5,9...|575,488, 575,488,...|       Shanghai, |         China|
|Choice Hotels Int...|     Rockville (USA)|Worldwide, Worldw...|            1939|7,100, 7,100, 7,1...|600,000, 600,000,...|       Rockville |           USA|
|Cinnamon Hotels &...| Colombo (Sri Lanka)| Sri Lanka, Maldives|            2005|                  15|               2,556|         Colombo |     Sri Lanka|
| Compass Hospitality|  Bangkok (Thailand)|Thailand, Malaysi...|            2005|      46, 46, 46, 46|4,600+, 4,600+, 4...|         Bangkok |      Thailand|
|Dalata Hotel Grou...|    Dublin (Ireland)|Ireland, United K...|            2008|              41, 41|        8,952, 8,952|          Dublin |       Ireland|
|Dorchester Collec...|London (United Ki...|France, Italy, UK...|            1981|          9, 9, 9, 9|8,952, 8,952, 8,9...|          London |United Kingdom|
|        Drury Hotels|     St. Louis (USA)|USA, USA, USA, US...|            1973|150, 150, 150, 15...|8,952, 8,952, 8,9...|       St. Louis |           USA|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+-----------------+--------------+
only showing top 20 rows

24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

4.2.1 Creating second Df

In [48]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import mean, concat_ws, collect_set, regexp_replace, split, trim
spark = SparkSession.builder.appName("My App").getOrCreate()
df = spark.read.csv("/home/ai/Documents/Task_hotel/hotels.csv", header=True)
df2 = df.select("Holding company", "Category", "Managed brands", "Franchised brands")
df2.show()

24/09/26 17:18:55 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+---------------+--------+--------------------+--------------------+
|Holding company|Category|      Managed brands|   Franchised brands|
+---------------+--------+--------------------+--------------------+
|          Accor|  Luxury|             Raffles|Banyan Tree Hótel...|
|           NULL|    NULL|      Orient Express|                NULL|
|           NULL|    NULL|              Delano|                NULL|
|           NULL|    NULL|                 SO/|                NULL|
|           NULL|    NULL|      Sofitel Legend|                NULL|
|           NULL|    NULL|            Fairmont|                NULL|
|           NULL|    NULL|                 SLS|                NULL|
|           NULL|    NULL|             Sofitel|                NULL|
|           NULL|    NULL|The House of Orig...|                NULL|
|           NULL|    NULL|               Rixos|                NULL|
|           NULL|    NULL|         onefinestay|                NULL|
|           NULL| Premium|              Mantis|                NULL|
|           NULL|    NULL|            MGallery|                NULL|
|           NULL|    NULL|          Art Series|                NULL|
|           NULL|    NULL|            Mondrian|                NULL|
|           NULL|    NULL|             Pullman|                NULL|
|           NULL|    NULL|           Swissôtel|                NULL|
|           NULL|    NULL|             Angsana|                NULL|
|           NULL|    NULL|            25 Hours|                NULL|
|           NULL|    NULL|                Hyde|                NULL|
+---------------+--------+--------------------+--------------------+
only showing top 20 rows

4.2.2 Cleaning DF

In [49]:
import pyspark.sql.functions as F
from pyspark.sql import Window
w_forward = Window.partitionBy().rowsBetween(Window.unboundedPreceding,Window.currentRow)
df2 = df2.select([F.last(df2[column], ignorenulls=True).over(w_forward).alias(column) for column in df2.columns])
df2.show()

+---------------+--------+--------------------+--------------------+
|Holding company|Category|      Managed brands|   Franchised brands|
+---------------+--------+--------------------+--------------------+
|          Accor|  Luxury|             Raffles|Banyan Tree Hótel...|
|          Accor|  Luxury|      Orient Express|Banyan Tree Hótel...|
|          Accor|  Luxury|              Delano|Banyan Tree Hótel...|
|          Accor|  Luxury|                 SO/|Banyan Tree Hótel...|
|          Accor|  Luxury|      Sofitel Legend|Banyan Tree Hótel...|
|          Accor|  Luxury|            Fairmont|Banyan Tree Hótel...|
|          Accor|  Luxury|                 SLS|Banyan Tree Hótel...|
|          Accor|  Luxury|             Sofitel|Banyan Tree Hótel...|
|          Accor|  Luxury|The House of Orig...|Banyan Tree Hótel...|
|          Accor|  Luxury|               Rixos|Banyan Tree Hótel...|
|          Accor|  Luxury|         onefinestay|Banyan Tree Hótel...|
|          Accor| Premium|              Mantis|Banyan Tree Hótel...|
|          Accor| Premium|            MGallery|Banyan Tree Hótel...|
|          Accor| Premium|          Art Series|Banyan Tree Hótel...|
|          Accor| Premium|            Mondrian|Banyan Tree Hótel...|
|          Accor| Premium|             Pullman|Banyan Tree Hótel...|
|          Accor| Premium|           Swissôtel|Banyan Tree Hótel...|
|          Accor| Premium|             Angsana|Banyan Tree Hótel...|
|          Accor| Premium|            25 Hours|Banyan Tree Hótel...|
|          Accor| Premium|                Hyde|Banyan Tree Hótel...|
+---------------+--------+--------------------+--------------------+
only showing top 20 rows

24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:18:55 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

5.To specify the best type and nullable for each ncolumn

In [66]:
df2.printSchema()

root
 |-- Holding company: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Managed brands: string (nullable = true)
 |-- Franchised brands: string (nullable = true)

6.GroupBy func

6.1 Total number of rooms per "Headquarerd country"

In [36]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
grouped_df.show()
room_counts_by_country = grouped_df.groupBy("Country").agg({"Rooms": "sum"})
room_counts_by_country.show()

spark.stop()

24/09/26 17:16:09 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:16:09 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:16:09 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:16:09 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+-----------------+--------------+
|     Holding company|        Headquarters|           Locations|Year established|          Properties|               Rooms|             City|       Country|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+-----------------+--------------+
|               Accor|      Paris (France)|Worldwide, Worldw...|            1967|5,300, 5,300, 5,3...|778,000, 778,000,...|           Paris |        France|
|        Aman Resorts|   Baar, Switzerland|        20 countries|            1988|                  34|             778,000|Baar, Switzerland|          NULL|
|           APA Group|       Tokyo (Japan)|  Japan, USA, Canada|            1988|       355, 355, 355|53,168, 53,168, 5...|           Tokyo |         Japan|
|Archipelago Inter...|Jakarta, (Indonesia)|           Worldwide|            1997|                 150|              53,168|        Jakarta, |     Indonesia|
|Ascott Limited (The)|           Singapore|Worldwide (27 cou...|            1984|800, 800, 800, 80...|135,000, 135,000,...|        Singapore|          NULL|
|        Avari Hotels|  Karachi (Pakistan)|         3 countries|            1948|                   5|             135,000|         Karachi |      Pakistan|
|Banyan Tree Holdings|           Singapore|Worldwide (28 cou...|            1994|      47, 47, 47, 47|135,000, 135,000,...|        Singapore|          NULL|
|            Barrière|      Paris (France)|Europe, Europe, E...|            1912|      18, 18, 18, 18|2,300, 2,300, 2,3...|           Paris |        France|
|     Belmond Limited|  Hamilton (Bermuda)|           Worldwide|            1976|                  41|               2,300|        Hamilton |       Bermuda|
| Best Western Hotels|       Phoenix (USA)|Worldwide, Worldw...|            1946|4,700, 4,700, 4,7...|369,386, 369,386,...|         Phoenix |           USA|
|BTG Homeinn hotel...|    Shanghai (China)|China, China, Chi...|            2002|4,450, 4,450, 4,4...|414,952, 414,952,...|        Shanghai |         China|
|Centara Hotels & ...|  Bangkok (Thailand)|Asia, Middle East...|            1983|77, 77, 77, 77, 7...|16,737, 16,737, 1...|         Bangkok |      Thailand|
| China Lodging Group|   Shanghai, (China)|               China|            2007|               5,953|             575,488|       Shanghai, |         China|
| Huazhu Hotels Group|   Shanghai, (China)|China, China, Chi...|            2007|5,953, 5,953, 5,9...|575,488, 575,488,...|       Shanghai, |         China|
|Choice Hotels Int...|     Rockville (USA)|Worldwide, Worldw...|            1939|7,100, 7,100, 7,1...|600,000, 600,000,...|       Rockville |           USA|
|Cinnamon Hotels &...| Colombo (Sri Lanka)| Sri Lanka, Maldives|            2005|                  15|               2,556|         Colombo |     Sri Lanka|
| Compass Hospitality|  Bangkok (Thailand)|Thailand, Malaysi...|            2005|      46, 46, 46, 46|4,600+, 4,600+, 4...|         Bangkok |      Thailand|
|Dalata Hotel Grou...|    Dublin (Ireland)|Ireland, United K...|            2008|              41, 41|        8,952, 8,952|          Dublin |       Ireland|
|Dorchester Collec...|London (United Ki...|France, Italy, UK...|            1981|          9, 9, 9, 9|8,952, 8,952, 8,9...|          London |United Kingdom|
|        Drury Hotels|     St. Louis (USA)|USA, USA, USA, US...|            1973|150, 150, 150, 15...|8,952, 8,952, 8,9...|       St. Louis |           USA|
+--------------------+--------------------+--------------------+----------------+--------------------+--------------------+-----------------+--------------+
only showing top 20 rows

24/09/26 17:16:09 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:16:09 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:16:10 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:16:10 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+--------------------+----------+
|             Country|sum(Rooms)|
+--------------------+----------+
|              France|      NULL|
|               Japan|      NULL|
|           Indonesia|      NULL|
|            Pakistan|      NULL|
|             Bermuda|      NULL|
|                 USA|      NULL|
|               China|      NULL|
|            Thailand|      NULL|
|           Sri Lanka|      NULL|
|             Ireland|      NULL|
|      United Kingdom|      NULL|
|              Sweden|      NULL|
|               India|       5.0|
|              Canada|      NULL|
|                  UK|      NULL|
|United Arab Emirates|      NULL|
|             Germany|      NULL|
|  Dominican Republic|      NULL|
|               Korea|      NULL|
|               Spain|      NULL|
+--------------------+----------+
only showing top 20 rows

6.2 Average number of properties per "Headquarerd country"

In [53]:
avg_properties_by_country = grouped_df.groupBy("Country").agg({"Properties": "avg"})
avg_properties_by_country.show()

24/09/26 17:22:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:22:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:22:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:22:21 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+--------------------+------------------+
|             Country|   avg(Properties)|
+--------------------+------------------+
|              France|              NULL|
|               Japan|              NULL|
|           Indonesia|             150.0|
|            Pakistan|               5.0|
|             Bermuda|              41.0|
|                 USA|52.666666666666664|
|               China|              NULL|
|            Thailand|              NULL|
|           Sri Lanka|              22.0|
|             Ireland|              NULL|
|      United Kingdom|              NULL|
|              Sweden|              39.0|
|               India|             106.0|
|              Canada|             126.0|
|                  UK|              NULL|
|United Arab Emirates|              24.0|
|             Germany|              NULL|
|  Dominican Republic|              10.0|
|               Korea|              NULL|
|               Spain|              NULL|
+--------------------+------------------+
only showing top 20 rows

6.3   Number of "Managed Brands" per "Holding Company" and "Category"

In [65]:
# df2.show()
managed_brands_per_holding_company_category = df2.groupBy("Holding company", "Category").agg({"Managed brands": "size"})
managed_brands_per_holding_company_category.show()

+--------------------+--------------+---------------------+
|     Holding company|      Category|count(Managed brands)|
+--------------------+--------------+---------------------+
|               Accor|        Luxury|                   11|
|               Accor|       Premium|                   13|
|               Accor|      Midscale|                    6|
|               Accor|       Economy|                    6|
|        Aman Resorts|        Luxury|                    1|
|           APA Group|      Midscale|                    3|
|Archipelago Inter...|      Midscale|                    1|
|Ascott Limited (The)|        Luxury|                    3|
|Ascott Limited (The)|       Premium|                    2|
|Ascott Limited (The)|       Upscale|                    3|
|Ascott Limited (The)|Upper-Midscale|                    2|
|Ascott Limited (The)|      Midscale|                    1|
|Ascott Limited (The)|Lower-Midscale|                    2|
|Ascott Limited (The)|       Economy|                    1|
|Ascott Limited (The)| Uncategorized|                    1|
|        Avari Hotels|        Luxury|                    1|
|Banyan Tree Holdings|        Luxury|                    1|
|Banyan Tree Holdings|       Premium|                    2|
|Banyan Tree Holdings|      Midscale|                    1|
|            Barrière|        Luxury|                    4|
+--------------------+--------------+---------------------+
only showing top 20 rows

24/09/26 17:32:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:32:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:32:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/09/26 17:32:35 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.